<nav class="navbar navbar-expand-lg navbar-dark bg-white fixed-top">
    <a id="brand" class="navbar-brand" href="#">
        <i id="twitterIcon" class="fab fa-twitter"></i>
        <i id="hashtagIcon" class="fas fa-hashtag"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i id="hamburgerMenu" class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-3">
            <li id="homeLink" class="nav-item">
                <a class="nav-link" href="/">Home</span></a>
            </li>
            <li id="aboutLink" class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li id="gamescreenLink" class="nav-item">
                <a class="nav-link" href="/gamescreen">Play</a>
            </li>        
        </ul>
    </div>
</nav>