<html>

<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>    
    <script src="scripts/scripts.js"></script>
    <link rel='stylesheet' type="text/css" href="css/gamescreen-styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css" integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway:800" rel="stylesheet">

</head>

<body>
    <a href="/">
        <img src="http://www.greenless.com/ptw/android/GREENLESS%20UI/Launcher2/res/drawable-hdpi/home_button_normal.png" alt="Home"
            class="home">
    </a>
    <div id="main">
        <br>
        <h3 hidden id="totalPoints">Total Points: 0</h3>
        <div id="tweetData">
			<% results.forEach(function(result) { %>
			<div class="roundContainer">
				<h2 hidden class="hashtag"> <%- result.hashtag %> </h2>
				<% result.resultArray.forEach(function(tweet) { %>
					<h2 class="tweet"> <%- tweet %> </h2>
				<% }) %>
            </div>
			<% }) %>
		</div>
        <!-- <h2 class="tweet animated slideInUp">"ASDFGHJKLASDFGHJKLASDFGHJKL"</h2> -->

        <div class="buttoncontainer">
            <div>
                <a href="">
                    <button class="button play"> HINT </button>
                </a>
            </div>
            <div>
                <button class="button submit" onclick="check()">SUBMIT</button>
            </div>
        </div>

        <div class="container">

            <div class="demo-flex-spacer"></div>

            <div class="webflow-style-input">
                <input id="answerBox" type="text" placeholder="What's the hash?"></input>

            </div>
        </div>



    </div>








    <h1 class="title"> GUESS THAT HASHTAG! </h1>
</body>

</html>