body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: linear-gradient( white, rgb(29, 202, 255));
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
}

input:focus,button:focus {
  outline: none;
}

.alert-correct {
  background-color: green ;
  color: white;
}

.alert-wrong {
  background-color: red;
  color: white;
}

.notVisible {
  display: none;
}

.noOpacity {
  opacity: 0;
}

.customButton {
  border: none;
  outline: none;
  background: rgba(29, 202, 255, 1);
  border-radius: 6px;
  font-family: "Raleway", sans-serif;
  color: white;
  width: 70px;
  height: 50px;
  font-size: 24px;
  margin-top: 5em;
}

.tweet {
  color: white;
  background: rgba(29, 202, 255, 0.95);
  font-style: italic;
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  font-size: 200%;
  letter-spacing: 2px;
  padding: 1%;
  margin-top: -9px;
  margin-bottom: 15px;
  -webkit-transition: width 2s, height 2s, background-color 2s,
    -webkit-transform 2s;
  transition: transform 3s;
}

.customButton:hover {
  opacity: 0.8;
}

.bannerDropdown {
  position: absolute;
  width: 100%;
  z-index: 5;
  text-align: center;
  border-radius: 0px;
  display: none;
}

.roundContainer {
  display: none;
}

#answerBox {
  font-family: "Raleway", sans-serif;
  width: 20vw;
  height: 7vh;
  font-size: 2em;
  margin-top: 2em;
  opacity: 0.95;
  background: rgba(255,255,255,0.95);
  color: black;
  border:2px solid rgb(29,202,255);
  border-radius: 6px;
  text-align: center;
}

#answerBox::placeholder {
  color: black;
  opacity: 1;
}

#homeIcon {
  margin-right: 1em;
  margin-top: 1em;
  width: 5vw;
  height: auto;
  float: right;
  z-index: 1;
  color: rgb(29, 202, 255)
}

#main {
  font-size: 10px;  
  width: 85%;
  height: 85%;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5%;
  background-color: white;
  background-image: url("https://www.shareicon.net/download/2015/09/10/98928_twitter_512x512.png");
  background-repeat: no-repeat;
  background-position: center;
  /* box-shadow: 5px -1px 10px #6e668d; */
}

#footerTitle {
  font-family: "Raleway", sans-serif;
  /* text-shadow: 2px 2px 5px #555555; */
  color: white;
  font-size: 200%;
  z-index: -1;
  margin-top: 0.5em;
}

#totalPoints {
  font-family: "Raleway", sans-serif;
  /* text-shadow: 2px 2px 5px #555555; */
  color: white;
  z-index: -1;
  margin-top: 0.5em;
}

#footerContainer {
  width: 85%;
  margin-top: 10vh;
  text-align: center;
}

#tweetData {
  height: 50vh;
}

#pointScreen {
  position: relative;
  top: 10vh;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(29, 202, 255, 0.95);
  color: white;
  text-align: center;
  border-radius: 1em;
  display: none;
}

#gameOverText {
  font-family: "Raleway", sans-serif;
  text-shadow: 2px 2px 5px #555555;
  padding: 1em;
}

#gameMenu {
  position: absolute;
  width: 85%;
}

#answerBoxContainer {
  text-align: center;
}

#hintContainer {
  font-family: "Raleway", sans-serif;
  padding-top: 2em;
  font-size: 1.5em;
}

#hintContainer p{
  margin: 0;
}

#positivePoints {
  color: green;
  z-index: 2;
  position: absolute;
  top: 15px;
  display: none;
}

#negativePoints {
  color: red;
  z-index: 2;
  position: absolute;
  top: 15px;
  display: none;
}

#pointAnimation {
  position: absolute;
  height: 50px;
  width: 100px;
  z-index: 1;
  top: 1px;
  left: 13em;
}
