<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>        
        <script src="scripts/gamescreen-scripts.js"></script>   
        <link rel='stylesheet' type="text/css" href="css/gamescreen-styles.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway:800" rel="stylesheet">
    </head>
    <body>
        <% include ../partials/navbar %>
        <div id="correct" class="alert alert-correct bannerDropdown animated">Correct!</div>
        <div id="wrong" class="alert alert-wrong bannerDropdown animated">Wrong!</div>
        <!-- <a id="homeLink" href="/">
            <i id="homeIcon" class="animated rubberBand fas fa-home"></i>
        </a>   -->
        <div id="main">        
            <br>
            <div id="tweetData">
                <% results.forEach(function(result) { %>
                <div class="roundContainer animated">
                    <h2 hidden class="hashtag"> <%- result.hashtag %> </h2>
                    <% result.resultArray.forEach(function(tweet) { %>
                        <h2 class="tweet"> <%- tweet %> </h2>
                    <% }) %>
                </div>
                <% }) %>
                <div id="pointScreen" class="animated bounceIn">
                    <h2 id="gameOverText">Your final score is 10 points!</h2>
                </div>
            </div>
            
            <div id="gameMenu" class="container-fluid notVisible">
                <div id="answerBoxRow" class="row justify-content-sm-center">
                    <div id="answerBoxContainer" class="col-12">
                        <input id="answerBox" class="animated fadeInDown" type="text" placeholder="What's the hashtag?">
                        <div id="hintContainer">
                        </div>
                    </div>
                </div>
                <div id="buttonsContainer" class="row justify-content-sm-center">
                    <div class="gameMenuButtonContainer col-6">
                        <button id="submit" class="customButton animated bounceIn" onclick="check()">SUBMIT</button>
                    </div>
                    <div class="gameMenuButtonContainer col-6">
                        <button id="hint" class="customButton animated bounceIn"> HINT </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="footerContainer" class="container-fluid">
            <div class="row justify-content-center">
                <div id="pointContainer" class="col-12">
                    <div id="totalPointsTextContainer">
                        <h3 id="totalPoints">Points: 0</h3>
                    </div>
                    <div id="pointAnimation">
                            <h3 id="positivePoints" class="animated fadeOutRight">+5</h3>
                            <h3 id="negativePoints" class="animated fadeOutRight">-3</h3> 
                    </div> 
                </div>
            </div>
        </div>
    </body>
</html>