<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <script src="scripts/homepage-scripts.js"></script>
    <link rel="stylesheet" href="css/homepage-styles.css">
  </head>
  <body>
    <% include ../partials/navbar %>
    <div id="homeScreenIndex">
      <div id="titleContainer">
        <div id="titleText" class="animated zoomInDown" >
            GUESS THAT HASHTAG
        </div>
        <button id="playButton" class="notVisible animated bounceIn" type="button" class="btn btn-primary btn-lg"><a id="playButtonLink" href="/gamescreen">Play now!</a></button>
      </div>
    </div>
  </body>
</html>