<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>
<body>
	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<h2>Game Screen</h2>
		<h3 id="totalPoints">Total Points: 0</h3>
		<div id="tweetData">
			<% results.forEach(function(result) { %>
			<ul>
				<li hidden class="hashtag"> <%- result.hashtag %> </li>
				<% result.resultArray.forEach(function(tweet) { %>
					<li class="tweet"> <%- tweet %> </li>
				<% }) %>
			</ul>
			<% }) %>
		</div>
		<input type="text" id="answerBox" name="answer" />
		<button onclick="check()">Submit</button>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>

</html>