<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div>
			<h2>This is the main content</h2>
			<ul>
				<% results.forEach(function(result) { %>
					<li><%= result %></li>
				<% }); %>
			</ul>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>